<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" ><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
{% block title_block %}
<title>:: Azuer88 ::</title>
{% endblock title_block %}

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="description" content="azuer88's personal website, contains personal blog and a collection of amusing files." />
<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://azuer88.myopenid.com/" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style01.css" type="text/css" />
{% block header_extra_block %}
{% endblock header_extra_block %}
</head>

<body>

<div id="container" >
	<div id="outer" >
 		<div id="inner">
 			<div id="left" >
				{% block left_content_block %}
					<div id="logo">
					</div>

					{% include "left_menu.html" %}
					{% include "badges_include.html" %}
{% comment %}
					<div id="left_padding">
{ % comment % }
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 1,
  interval: 20000,
  width: 200,
  height: 75,
  theme: {
    shell: {
      background: '#5e5e5e',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'default'
  }
}).render().setUser('azuer88').start();
</script>
{ % endcomment % }
					</div>
{% endcomment %}
				{% endblock left_content_block %}
			</div><!-- end left -->

			<div id="content" class="{% block body_class %}normal{% endblock %}">
			{% block content_main_block %}
				<div id="content_title">
					{% block content_title %}{% endblock content_title %}
				</div>
				<div id="content_content">
					{% block content %}{% endblock content %}
				</div>
			{% endblock content_main_block %}

			</div><!-- end content -->
		</div><!-- end inner -->
	</div><!-- end outer -->
 	<div id="footer">
	<span id="created-by">Created by Azuer88</span>
	  Copyright &copy; 2010.
	</div>
</div><!-- end container -->
</body>
</html>
