body {
	color: White;
	background-color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, serif;
	font-size: small;
	text-align: left;
}

h1
{
    color: #829595;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.286em;
    margin-bottom: 1.286em;
    letter-spacing: 1px;
}

h2, h3
{
    font-size: 11px;
    line-height: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #446161;
}

h3
{
    color: #FFF;
    text-transform: uppercase;
}

h1 a
{
    border: none;
    color: #2A4747;
}

p, ul, ol
{
    font-size:1em;
    margin-bottom: 1.5em;
}

ol li
{
    list-style-type:decimal;
}

a
{
    text-decoration: none;
    border-bottom: 1px solid #2F4F4F;
    padding-bottom: 2px;
	color: #DCDCDC;
}

a:hover {
	color: #2F4F4F;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a.download {
	background-image: url(../img/download.gif);
	background-repeat: no-repeat;
	padding-left: 23px;
}


/**************** images styles ****************/
	a img{
	  border: none;
	  }

	img.left,img.center,img.right {
	  padding: 4px;
	  border: 1px solid #a0a0a0;
	  }

	img.left {
	  float: left;
	  margin: 0 12px 5px 0;
	  }

	img.center {
	  display: block;
	  margin: 0 auto 5px auto;
	  }

	img.right {
	  float: right;
	  margin: 0 0 5px 12px;
	  }

/* ----------container to center the layout---------- */
#container {
width: 800px;
padding:0px;
margin: 0px;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
/* border-top: solid 2px #191970; */
}
/* ----------outer and inner----------------- */
#outer{
border-left: solid 180px transparent;/* color of the left column  */
}

#inner{
	margin:0px; width:100%;
} /* The ie/pc pecularity */

/* --------------left navi------------- */
#left {
 width:180px;
 float:left;
 position:relative;
 margin-left:-180px;
 margin-right:1px;
 text-align: right;
}

#logo {
 	background-image: url(../img/logo.gif);
	height: 142px;
	width: 140px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
}
#left_padding {
	height: 100px;
	width: 140px;
}
#navcontainer ul
{
	list-style-type: none;
	margin-right: 20px;
}

#navcontainer ul li a
{
/* background: transparent url(../img/list-off.gif) left center no-repeat; */
padding-left: 15px;
text-align: left;
font: normal 14px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
text-decoration: none;
color: #999;
border: none;
}
#navcontainer ul li a:after {
	content: url(../img/list-off.gif);
	margin-left: 5px;
}

#navcontainer ul li a:hover
{
color: black;
}
#navcontainer ul li a:hover:before {
	content: url(../img/list-on.gif);
	margin-right: 5px;
}


#navcontainer ul li a#current
{
/* background: transparent url(../img/list-active.gif) left center no-repeat; */
color: #666;
}
#navcontainer ul li a#current:after {
	content: url(../img/list-active.gif);
}

#badges_container {
	margin-top: 5em;
	margin-right: 20px;
	/* border: 1px solid red; */
	text-align: right;
	height: 252px;
}

#badges_container a {
	display: block;
	margin-top: 5px;
	margin-bottom: 3px;
	text-decoration: none;
	border: none;
	color: #000;
}

/* -----------------content--------------------- */
#content{
position: relative;
margin: 0px;
padding-left: 2em;
}

#content_title {
    color: #829595;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5em;
	margin-top: 1.5em;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
}

#content_content {
	font-size: 13px;
}
#content_content p.date {
	font-size: 11px;
	color: #669999;
}

#content_content div.list div.item {
	padding-left: 5px;
}

#content_content div.list div.item h3.title {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.125em;
    margin-bottom: 1.125em;
    letter-spacing: 1px;
}


#content_content div.list div.item p {
	font-size: 13px;
}
#content_content div.list div.item p.date {
	font-size: 11px;
	color: #669999;
}
#content_content div.list div.item p.tease {
	font-style: italic;
}

p.other_posts {
	font-size: 10px;
}

p{
padding: 5px 10px;
margin:0px; }

pre{
font-size: 12px;
padding: 5px 10px;
margin:0px;
margin-left: 2em;
background-color:#595959;
font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
margin-bottom:10px;
max-height:600px;
overflow:auto;
padding:5px;
width:auto;
}

/*  ----------------footer---------------------- */
div#footer {
margin-top: 10px;
font-size: 11px;
clear:both;
width:100%;
padding: 3px 6px;
border-bottom: 1px solid #F9F9F9;
border-right: 1px solid #F9F9F9;/* */
}

div#footer a, div#footer a:hover {
margin-top: 10px;
clear:both;
width:100%;
font-weight: bold;
text-decoration: none;
}

#created-by {
float: right;
display:inline;
}

/*  ----------------form elements---------------------- */
label{
text-align: right;
padding-right: 1em;
float: left;
width: 120px;
font-weight: bold;
}

input, textarea{
width: 180px;
margin-bottom: 5px;
}

textarea{
width: 250px;
height: 150px;
}

.boxes{
width: 1em;
}

input.submit-post, input.submit-preview, input.button
{
	margin-top: 5px;
	/* width: 70px; */
	width: auto;
	background-color: #c0c0c0;
}

p.submit input.submit-post {
	margin-left: 120px;
}
input.button {
	margin: 0px;
	width: auto;
}

form br{
clear: left;
}

ul.errorlist {
	margin-left: 150px;
	margin-bottom: 0px;
	padding: 0px;
}
ul.errorlist li {
	color: red;
}
