{% extends 'bootstrap.html' %}

{% load i18n bootstrap3 %}
{% load static %}
{% load mycustomtags %}

{% block bootstrap3_extra_head %}
<script src="{% static 'js/js.cookie.js' %}"></script>
<link href="{% static 'css/nav-logo.css' %}" rel="stylesheet">
<link href="{%  static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" />
  {% block head_extra_css %}
  {% endblock %}
  {% block head_extra_js %}
  {% endblock %}
{% endblock %}

{% block bootstrap3_extra_script %}
  {% block body_extra_js %}
  {% endblock %}
{% endblock %}

{% block title %}
azuer88.com
{% block subtitle %}
{% endblock %}
{% endblock %}
{% block bootstrap3_content %}


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">azuer88.com</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% for message in messages %}
    <div class="{{ message|bootstrap_message_classes }} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
        {{ message }}
    </div>
{% endfor %}

<div class="container">
    {% block content %}
        <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
        </div>
    (no content)
    {% endblock %}
</div>


<footer class="footer">
  <div class="container">
    <p class="text-muted">under construction.</p>
  </div>
</footer>



{% endblock %}
