{% extends "base.html" %}
{%  load static %}
{%  load bootstrap3 %}
{%  block content %}
    <div class="vertical-center">
        <div class="container horizontal-center">
            <img src="{%  static 'img/under_construction.gif' %}" alt="under construction">
       </div>
    </div>
{%  endblock %}