body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.nav {
    background-color: white;
}

.navbar-fixed-top .nav {
    padding: 6px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 5px;
}

@media(min-width:768px) {
    body {
        padding-top: 45px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 5px 0;
    }
}

.navbar-brand {
    margin-right: 20px;
}


.max_height {
    min-height: 80%;
    height: 80%;
}

.clickable {
    cursor: pointer;
}

.item_cell {
    color: #5e5e5e;
    padding: 0px;
    padding-left: 100px;
}

.red-text {
    color: red;
}

.padded-left {
    margin-left: 15px;
    margin-right: 0;
}

